.toolbar {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  border-bottom: 1px solid #ddd;
}

.map {
  width: 100%;
  height: calc(100vh - 50px);
}

.info {
  margin-left: auto;
  opacity: 0.8;
}
